<div id="movie-lists" fxFlex fxLayout="column">
  <app-card-list
    [cardItems]="movieLists"
    emptyListMsg="No movies lists here"
    addMsg="Add A Movie List"
    (onAdd)="openAddDialog()"
    [getImageUrl]="getDefaultImageUrl"
    [getOnClickPath]="getOnClickPath"
    [cardHasEdit]="true"
    [handleEdit]="openEditDialog"
  ></app-card-list>
  <div class="btn-container">
    <button
      *ngIf="movieLists && movieLists.length > 0"
      (click)="openAddDialog()"
      mat-fab
      class="add-btn"
      matTooltip="Add Movie"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
