<div id="landing" fxFlex fxLayout="column">
  <div id="landing-message" *ngIf="!userLoggedIn">
    <div
      class="landing-message-backdrop"
      [style.backgroundImage]="'url(/assets/movie-bg.jpg)'"
    ></div>
    <div
      class="message-wrapper"
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="message-title">
        iTheater
      </div>
      <div class="message-content">
        Create as many lists as you want for all your favorite movies,
        or all the movies you want to watch.
      </div>
      <button (click)="handleSignUp()" color="primary" mat-raised-button>SIGN UP</button>

      <div
        class="explore"
        fxFlex
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        Explore Popular Movies
        <mat-icon>arrow_downward</mat-icon>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let movie of popularMovies">
    <div class="popular-movie-container">
      <div
        class="backdrop"
        [style.backgroundImage]="
          'url(' + imageBaseUrl + movie.backdropPath + ')'
        "
      ></div>
      <div
        class="popular-movie"
        fxFlex
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div class="movie-content">
          <h1 class="movie-title">
            {{ movie.title }}
          </h1>
          <p class="movie-overview">
            {{ movie.overview }}
          </p>
          <div class="movie-ratings">
            <div class="rating">
              <h2>{{ movie.voteAverage }}</h2>
              <span class="rating-name">Average Rating</span>
            </div>
            <div class="rating">
              <h2>{{ movie.voteCount }}</h2>
              <span class="rating-name">Number Of Votes</span>
            </div>
            <div class="add-icon">
              <button mat-fab class="add-btn">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
