<div id="movie-list" fxFlex fxLayout="column">
  <app-card-list
    [list]="movieList"
    [cardItems]="movies"
    emptyListMsg="No movies here"
    addMsg="Add A Movie"
    (onAdd)="openDialog()"
    [getImageUrl]="getImageUrl"
    [getOnClickPath]="getOnClickPath"
    [cardHasRating]="true"
    [handleRateChange]="updateMovieRating"
    [cardHasDelete]="true"
    [handleDelete]="deleteMovieFromList"
  ></app-card-list>
  <div class="btn-container">
    <button
      *ngIf="movies && movies.length > 0"
      (click)="openDialog()"
      mat-fab
      class="add-btn"
      matTooltip="Add Movie"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      (click)="handleDeleteMovieList()"
      mat-mini-fab
      class="delete-btn"
      matTooltip="Delete Movie"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
