<div [routerLink]="onClickPath">
  <div class="image-container">
    <img [src]="imageUrl" />
  </div>
  <div *ngIf="cardItem && cardItem.name" class="card-name">
    <h2 [matTooltip]="cardItem.name">{{ cardItem.name }}</h2>
  </div>
  <div *ngIf="cardItem && cardItem.title" class="card-name">
    <h3 [matTooltip]="cardItem.title">{{ cardItem.title }}</h3>
  </div>
  <div *ngIf="hasRating === true" class="card-rating">
    <bar-rating
      (rateChange)="handleRateChange($event, cardItem)"
      theme="stars"
      [rate]="cardItem.rating"
      [max]="5"
    ></bar-rating>
  </div>
</div>
<div class="card-actions">
  <div *ngIf="hasDelete === true" class="card-action">
    <button mat-icon-button (click)="handleDelete()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
  <div *ngIf="hasEdit === true" class="card-action">
    <button mat-icon-button (click)="handleEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
