app-card-list-item {
    background: #fff;
    max-width: 300px;
    min-width: 300px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    position: relative;
  
    .image-container {
      height: 400px;
      vertical-align: top;
      overflow: hidden;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    .card-name {
      margin-left: 25px;
      margin-right: 25px;
  
      h3,h2 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 5px;
      }

      h2 {
        margin-bottom: 20px;
      }
    }
  
    .card-rating {
      margin-left: 25px;
      justify-content: start;
    }
  
    .card-actions {
      right: 0;
      bottom: 0;
      z-index: 100;
      position: absolute;
  
      button {
        color: rgb(243, 203, 203);
      }
    }
  }
  