<h2 mat-dialog-title>{{data.dialogTitle}}</h2>
<mat-dialog-content>
  <form id = "movieListForm" name="movieListForm" [formGroup]="movieListForm" novalidate>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="movieListForm.get('name').hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="privacy">
      Private
    </mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    color="primary"
    mat-raised-button
    (click)="handleSubmit()"
    [disabled]="movieListForm.invalid || movieListForm.pristine"
  >
    {{data.submitText}}
  </button>
</mat-dialog-actions>
